/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: 'morris9';
    src: url('../모리스체-heroine762.ttf') format('truetype');
}
input[type="submit"]{
    font-family:"morris9"
}
input[type="text"]{
    font-family:"morris9"
}

body{
    background-image: linear-gradient(to bottom, #BE36D4, #744CF0);
    height: 100vh;

    font-family: 'morris9';
}


/*창 포맷*/
.header{
    padding: 3px;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    font-size: 48px;
    background: #2B1B5E;
    cursor: default;

    justify-content: space-between;
    align-items: center;

    display: flex;
}

.title-area{
    display: flex;
}

.logo{
    background-image: url(../contents/젭삐\ 배경\ 있는\ 거.jpg);
    background-size: 48px;
    width: 48px;
    height: 48px;
}

.close-area{
    width: 40px;
    height: 40px;
    background: #CECFC1;
    align-items: center;
    display: flex;
    justify-content: center; 
    margin-right: 5px;
}

.close{
    background-image: url(../contents/close.png);
    background-size: 28px;
    width: 28px;
    height: 28px;
}

.wboxf{
    top: 50%;
    left: 50%;
	right:  50%; 
	transform: translate(-50%, -50%);

    padding: 2px;
    border: solid 2px #414141;
    position: absolute;
    width: 571px;
    height: auto;

    background-color: #B0B0AE;
}

/*창 포맷 여기까지*/


.back{
    margin: 30px 0px 18px 30px;
    color: #2B1B5E;
}
.back > a{
    font-size: 24px;
    text-decoration-line: none;
    text-shadow: -1px 0px black, 0px 1px black, 
                  1px 0px black, 0px -1px black;
}




/*컨텐츠 내용*/
.content{
    display: flex;
    flex-direction: column;
    width: 100%;
}


.photo{
    background-image: url(../contents/젭삐\ 건배.png);
    background-size: 447px;
    height: 304px;
    width: 447px;
    margin: 0 auto;
    margin-top: 18px;
    margin-bottom: 37px;
}


.welcome{
    margin-bottom: 81px;
    font-size: 20px;

    width: 100%;
    height: 33px;

    background-color: #D9D9D9;
}

.welcome > span{
    margin-left: 60px;
    vertical-align: sub;
    color: rgb(0, 0, 0);
}
/*컨텐츠 내용*/


.suc_guide{
    text-align: center;
    margin: 0 auto;
    color: #867575;
    margin-bottom: 13px;
}
.suc_guide > span{
    font-size: 20px;
}


