html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: 'morris9';
    src: url('../모리스체-heroine762.ttf') format('truetype');
}
input[type="submit"]{
    font-family:"morris9"
}
input[type="text"]{
    font-family:"morris9"
}

body{
    background-image: linear-gradient(to bottom, #BE36D4, #744CF0);
    height: 100vh;

    font-family: 'morris9';
	position: relative;
}



.container{
    padding: 16px 20px;
	
	position: absolute; 
	left: 50%; 
	top: 50%; 
	transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
	align-items: center;
}


/*베너*/
.banner{
	width: 1400px;
	height: 217px;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	margin: 0 auto;
}

.banner-photo{
	width: 310px;
	background-image: url(../contents/베너.png);
	background-size: 310px;
	height: 217px;
}

.banner-title{
	width: 1092px;
	height: 217px;
	
	text-align: center;
	display: flex;
	flex-direction: column;

	background: linear-gradient(to right, #000000, #9E00FF);
}


.banner-title > #span1{
	font-size: 128px;
	color: #FFFFFF;
	margin-top: 20px;
}

.banner-title > #span2{
	font-size: 32px;

	color: #E58DBC;
	text-shadow: #F90300;
}
/*베너 끝*/



/*콘텐츠 들어가기 전 보라색 선*/
.contents{
	margin: 0 auto;
	margin-top: 7px;

	width: 1400px;
	height: 776px;

	background-color: #FF217E;
}

.contents-header{
	width: 1400px;
	height: 55px;

	background: linear-gradient(to right, #2B1B5E, #3A257D 2%, #3A257D 98%,#2B1B5E 100%);
}


.contents-header{
	font-size: 24px;
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
}

.contents-header > span{
	margin: 0 30px;
	color: #FFFFFF;
}
a{
	text-decoration: none;
	text-decoration-line: none;
	color: #FFFFFF;
}















.main-area{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 1400px;
	height: 720px;
}

.preview-photo{
	width: 680px;
    height: 500px;
	max-height: 680px;
	background-size: 740px;
	background-repeat: no-repeat;
	margin: 0 auto;
	background-image: url(../contents/베너.png);
	margin-top: calc(10%);
}




.preview-area{
	width: 650px;
	height: 650px;
	margin: 0 auto;
	margin: 30px;
	margin-left: 100px;

}

.up{
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	justify-content: center;
}

.upload-area{
	margin: 0 auto;
}


#uploadForm{
	align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
}


/*로그인 버튼*/
.sm{
    display: flex;
    justify-content: flex-end;
}
.smtxt{
    width: 300px;
    height: 100px;

    font-size: 48px;
    
    color: #2B1B5E;
    background-color: #ffffff8a;
}