/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: 'morris9';
    src: url('../모리스체-heroine762.ttf') format('truetype');
}
input[type="submit"]{
    font-family:"morris9"
}
input[type="text"]{
    font-family:"morris9"
}

body{
    background-image: linear-gradient(to bottom, #BE36D4, #744CF0);
    height: 100vh;

    font-family: 'morris9';
}


/*창 포맷*/
.wboxf{
    top: 50%;
    left: 50%;
	right:  50%; 
	transform: translate(-50%, -80%);

    padding: 2px;
    border: solid 2px #414141;
    position: absolute;
    width: 1196px;
    height: 554px;

    background-color: #B0B0AE;
}

.header{
    padding: 3px;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    font-size: 48px;
    background: #2B1B5E;
    cursor: default;

    justify-content: space-between;
    align-items: center;

    display: flex;
}

.title-area{
    display: flex;
}

.logo{
    background-image: url(../contents/젭삐\ 배경\ 있는\ 거.jpg);
    background-size: 48px;
    width: 48px;
    height: 48px;
}

.close-area{
    width: 40px;
    height: 40px;
    background: #CECFC1;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-right: 5px;
    cursor: pointer;
}

.close{
    background-image: url(../contents/close.png);
    background-size: 28px;
    width: 28px;
    height: 28px;
}
/*창 포맷 여기까지*/





/*컨텐츠 내용*/
.content{
    display: flex;
    flex-direction: row;
    padding-top: 7px;
}



/*박진영 히든 짤 여기까지*/
.hidden-photo-area{
    display: flex;
    flex-direction: column;
    width: 357px;
    height: 490px;
}

.hidden-photo{
    background-image: url(../contents/hidden_photo.jpg);
    background-size: 305px;
    height: 375px;
    width: 305px;
    margin: 0 auto;
    margin-top: 28px;
}

.hidden-photo-title{
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    width: 255px;
    height: 47px;
    background-color: #D9D9D9;
    margin-top: 12px;
    padding-top: 12px;
}

.hidden-photo-title > span{
    font-size: 34px;
}
/*박진영 히든 짤 여기까지*/



/*박진영 메인 사진 + 아이디*/
/*메인 사진 탑*/
.main-area{
    width: 830px;
}
.main-top{
    display: flex;
    justify-content: space-between;
}

.main-photo-title{
    width: 223px;
    height: 47px;
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 34px;
}


.main-photo-title > span{
    font-size: 34px;
}


.user{
    display: flex;
    align-items: center;
    justify-content: center;
}
.user > span{
    font-size: 34px;
}
#m-u-name{
    text-decoration: underline;
    margin-right: 10px;
    font-style: italic;
    color: #2B1B5E;
}
/*메인 사진 탑*/

/*메인 사진*/
.main-photo{
    background-image: url(../contents/main_photo.png);
    background-size: 830px;
    height: 439px;
    width: 830px;
    margin: 0 auto;
    margin-top: 4px;
}
/*메인 여기까지*/


/* 정보창 */
.information{
    top: 50%;
    left: 50%;
	right:  50%; 
	transform: translate(-169%, -78%);

    padding: 2px;
    border: solid 2px #414141;
    position: absolute;
    width: 346px;
    height: 490px;

    background-color: #B0B0AE;

    z-index: 1;
}

.information-header{
    padding: 3px;
    text-align: center;
    color: #ffffff;
    font-size: 48px;
    background: #2B1B5E;
    cursor: default;

    justify-content: space-between;
    align-items: center;
    padding-left: 10px;


    display: flex;
    flex-direction: row;
}

.information-close-area{
    width: 40px;
    height: 40px;
    background: #CECFC1;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

#my-div{
    display: flex;
}

.hidden-delete{
    font-size: 24px;
    color: #7E7E7E;
}

.information-detail{
    font-size: 24px;
    padding: 0 10px;
}

.inform-title{
    font-size: 40px;
    line-height: 1.8;
}
.element{
    font-size: 32px;
}

.jyp-home{
    width: 320px;
    height: 170px;
    background-color: #3A257C;
    font-size: 40px;
    color: white;

    margin: 0 auto;
    margin-top: 25px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a{
    text-decoration: none;
}


/* 정보창 여기까지 */








/* 메인메뉴 */
/* 메인메뉴 창 */
.main-menu-area{
    top: 50%;
    left: 50%;
	right:  50%; 
	transform: translate(-50%, 40%);

    padding: 2px;
    border: solid 2px #414141;
    position: absolute;
    width: 1196px;
    height: 290px;

    background-color: #B0B0AE;
}

.menu-header{
    padding: 3px;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    font-size: 48px;
    background: #2B1B5E;
    cursor: default;

    justify-content: space-between;
    align-items: center;

    display: flex;
}
/* 창 여기까지 */

.menu-area{
    display: flex;
    justify-content: space-between;
    padding: 0 4px;
}

.menu{
    width: 390px;
    height: 223px;

    margin-top: 6px;

    background-color: #D9D9D9;
    flex-direction: column;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.title-span{
    font-size: 64px;
}

.menu > span{
    color: black;
}






.구분{
}




/*방명록 창*/
#chat-close-area{
    width: 40px;
    height: 40px;
    background: #CECFC1;
    align-items: center;
    display: flex;
    justify-content: center; 
    margin-right: 5px;
    cursor: pointer;
}

#chat-wboxf{
    top: 50%;
    left: 50%;
	right:  50%; 
	transform: translate(-50%, -50%);

    padding: 2px;
    border: solid 2px #414141;
    position: absolute;
    width: 571px;
    height: 804px;

    background-color: #B0B0AE;

    display: none;
    flex-direction: column;
    z-index: 2;
}

.chat-header{
    padding: 3px;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    font-size: 48px;
    background: #2B1B5E;
    cursor: default;

    justify-content: space-between;
    align-items: center;

    display: flex;
}

/*창 포맷 여기까지*/


/*채팅창*/
.chat-w{
    width: 547px;
    height: 582px;
    background-color: #D9D9D9;
    font-size: 24px;

    padding: 0 3px;
    
    margin: 6px auto;
}

.chat{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    align-items: end;
    padding: 8px 12px;
}

.date{
    font-size: 14px;
    color: #545454;

}
/*대화저장+전송*/
.right{
    width: 122px;
    height: 136px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.capture{
    width: 117px;
    height: 24px;
    font-size: 24px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.capture-icon{
    background-image: url(../contents/capture-icon.png);
    width: 25px;
    height: 24px;
    background-size: 24px;
}






/*메세지 전송 폼*/
#message-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 0 6px;
    margin-top: 8px;
}

.message-input{
    width: 420px;
    height: 130px;
}


/*전송 버튼*/
.sm{
    display: flex;
    justify-content: flex-end;
}
.smtxt{
    width: 122px;
    height: 95px;

    font-size: 48px;
    
    color: #2B1B5E;
    background-color: #ffffff8a;
}


