<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jebppi</title>
    <link rel="stylesheet" href="./notice.css">
</head>
<body>
    <div class="container">
        <div class="banner">
            <div class="banner-photo"></div>
            <div class="banner-title">
                <span id="span1">JEBPPI's 공지</span>
                <span id="span2">각종 이벤트, 콘서트 일정등을 공유하는 공간입니다.</span>
            </div>
        </div>

        <div class="contents">
            <div class="contents-header">
                <span><a href="">< 홈으로 가기</a></span>
            </div>

            <div class="notice-area">
                <div class="notice-row">
                    <div>
                        <span class="title">진영 오빠 구원파 해명</span>
                    </div>
                    <div class="notice-r">
                        <div class="notice-rl">
                            <span class="writer">작성자: 젭삐마스터</span>
                            <span class="date">작성일: <%= noticeDate %></span>
                        </div>
                        <span style="color: white;">|</span>
                        <span class="comment">댓글99+</span>
                    </div>
                </div>
                <div class="notice-row">
                    <div>
                        <span class="title">진영 오빠 구원파 해명</span>
                    </div>
                    <div class="notice-r">
                        <div class="notice-rl">
                            <span class="writer">작성자: 젭삐마스터</span>
                            <span class="date">작성일: <%= noticeDate %></span>
                        </div>
                        <span style="color: white;">|</span>
                        <span class="comment">댓글99+</span>
                    </div>
                </div>
                <div class="notice-row">
                    <div>
                        <span class="title">진영 오빠 구원파 해명</span>
                    </div>
                    <div class="notice-r">
                        <div class="notice-rl">
                            <span class="writer">작성자: 젭삐마스터</span>
                            <span class="date">작성일: <%= noticeDate %></span>
                        </div>
                        <span style="color: white;">|</span>
                        <span class="comment">댓글99+</span>
                    </div>
                </div>
                <div class="notice-row">
                    <div>
                        <span class="title">진영 오빠 구원파 해명</span>
                    </div>
                    <div class="notice-r">
                        <div class="notice-rl">
                            <span class="writer">작성자: 젭삐마스터</span>
                            <span class="date">작성일: <%= noticeDate %></span>
                        </div>
                        <span style="color: white;">|</span>
                        <span class="comment">댓글99+</span>
                    </div>
                </div>
                <div class="notice-row">
                    <div>
                        <span class="title">진영 오빠 구원파 해명</span>
                    </div>
                    <div class="notice-r">
                        <div class="notice-rl">
                            <span class="writer">작성자: 젭삐마스터</span>
                            <span class="date">작성일: <%= noticeDate %></span>
                        </div>
                        <span style="color: white;">|</span>
                        <span class="comment">댓글99+</span>
                    </div>
                </div>
                <div class="notice-row">
                    <div>
                        <span class="title">진영 오빠 구원파 해명</span>
                    </div>
                    <div class="notice-r">
                        <div class="notice-rl">
                            <span class="writer">작성자: 젭삐마스터</span>
                            <span class="date">작성일: <%= noticeDate %></span>
                        </div>
                        <span style="color: white;">|</span>
                        <span class="comment">댓글99+</span>
                    </div>
                </div>
                <div class="notice-row">
                    <div>
                        <span class="title">진영 오빠 구원파 해명</span>
                    </div>
                    <div class="notice-r">
                        <div class="notice-rl">
                            <span class="writer">작성자: 젭삐마스터</span>
                            <span class="date">작성일: <%= noticeDate %></span>
                        </div>
                        <span style="color: white;">|</span>
                        <span class="comment">댓글99+</span>
                    </div>
                </div>
                <div class="notice-row">
                    <div>
                        <span class="title">진영 오빠 구원파 해명</span>
                    </div>
                    <div class="notice-r">
                        <div class="notice-rl">
                            <span class="writer">작성자: 젭삐마스터</span>
                            <span class="date">작성일: <%= noticeDate %></span>
                        </div>
                        <span style="color: white;">|</span>
                        <span class="comment">댓글99+</span>
                    </div>
                </div>
                <div class="notice-row">
                    <div>
                        <span class="title">진영 오빠 구원파 해명</span>
                    </div>
                    <div class="notice-r">
                        <div class="notice-rl">
                            <span class="writer">작성자: 젭삐마스터</span>
                            <span class="date">작성일: <%= noticeDate %></span>
                        </div>
                        <span style="color: white;">|</span>
                        <span class="comment">댓글99+</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="./notice.js"></script>
</body>
</html>