html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: 'morris9';
    src: url('../모리스체-heroine762.ttf') format('truetype');
}
input[type="submit"]{
    font-family:"morris9"
}
input[type="text"]{
    font-family:"morris9"
}

body{
    background-image: linear-gradient(to bottom, #BE36D4, #744CF0);
    height: 100vh;

    font-family: 'morris9';
	position: relative;
}



.container{
    padding: 16px 20px;
	
	position: absolute; 
	left: 50%; 
	top: 50%; 
	transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
	align-items: center;
}


/*베너*/
.banner{
	width: 1400px;
	height: 217px;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	margin: 0 auto;
}

.banner-photo{
	width: 310px;
	background-image: url(../contents/베너.png);
	background-size: 310px;
	height: 217px;
}

.banner-title{
	width: 1092px;
	height: 217px;
	
	text-align: center;
	display: flex;
	flex-direction: column;

	background: linear-gradient(to right, #000000, #9E00FF);
}


.banner-title > #span1{
	font-size: 128px;
	color: #FFFFFF;
	margin-top: 20px;
}

.banner-title > #span2{
	font-size: 32px;

	color: #E58DBC;
	text-shadow: #F90300;
}
/*베너 끝*/

/*공지사항 내용 시작*/
.notice-area{
    /* width: 1365px; */
    height: 588px;

    display: flex;
	flex-direction: column;
    padding: 15px 30px 0px 30px;
}

.notice-row{
    height: calc(588px / 9);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.notice-row > div > span{
    font-size: 48px;
    text-align: center;
}

.title{
    text-decoration-line: underline;
    text-decoration-thickness: 0.3px
}

.notice-r{
    display: flex;
    align-items: center;
}

.notice-rl{
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-right: 10px;
    font-size: 20px;

    color: white;
}

.comment{
    margin-left: 10px;
    font-size: 24px !important;
    align-items: center;
    vertical-align: super;
    color: white;
}


/*콘텐츠 들어가기 전 보라색 선*/
.contents{
	margin: 0 auto;
	margin-top: 7px;

	width: 1400px;
	height: 90%;

	background-color: #FF217E;
}

.contents-header{
	width: 1400px;
	height: 55px;

	background: linear-gradient(to right, #2B1B5E, #3A257D 2%, #3A257D 98%,#2B1B5E 100%);
}

.contents-header{
	font-size: 24px;
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
}

.contents-header > span{
	margin: 0 30px;
	color: #FFFFFF;
}
a{
	text-decoration: none;
	text-decoration-line: none;
	color: #FFFFFF;
}











/*다음 페이지로 넘어가기*/
.next{
	height: 76px;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;

	font-size: 36px;
}

.next-area{
	display: flex;
	flex-direction: row;
	width: 227px;

	justify-content: space-between;
	align-items: center;
	color: white;

}

.direction{
	text-decoration-line: underline;
}
